html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .video {
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: theme('borderRadius.lg');
    box-shadow: theme('boxShadow.xl');
  }
}
